{% extends 'accounts/layout.html' %}
{% block title %}index {% endblock %}
{% block content %}
<section>
    <div class="section-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>Data order</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
			<ul>
                             {% for user in users %}
                             <li data-username="{{ user.username|escape }}">
                             {{ user.username|escape }}: {{ user.status|default:'Offline' }}
                             </li>
                             {% endfor %}
                       </ul>
                       </div><!--end .table-responsive -->
                    </div>
                </div>
            </div><!--end .col -->
        </div><!--end .row -->
    </div><!--end .section-body -->
</section>
{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      // NOTE: We escape JavaScript to prevent XSS attacks.
      var username = encodeURI(data['username']);
      var user = $('li').filter(function () {
        return $(this).data('username') == username;
      });

      if (data['is_logged_in']) {
        user.html(username + ': Online');
      }
      else {
        user.html(username + ': Offline');
      }
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}

{% endblock %}

