{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %} {% endblock %} KHDJ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="your,keywords">
<meta name="description" content="Short explanation about this website">
<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/materialadmin.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/libs/DataTables/jquery.dataTables.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/libs/DataTables/extensions/dataTables.colVis.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/libs/DataTables/extensions/dataTables.tableTools.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/libs/select2/select2.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/print.css' %}" />
</head>
<body class="menubar-pin menubar-hoverable header-fixed "> <!--max sidemenu: menubar-pin -->
<header id="header" >
    <div class="headerbar">
	<div class="headerbar-left">
	<ul class="header-nav header-nav-options">
	   <li class="header-nav-brand" >
		<div class="brand-holder">
		<a href="{% url 'home' %}">
		<span class="text-lg text-light text-danger">KHARISMA</span><span class="text-lg text-bold text-primary"> SOLUTIONS</span></a>
		</div>
	   </li>
	   <li>
	       <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
	   </li>
	</ul>
	</div>
	<div class="headerbar-right">
	  <ul class="header-nav header-nav-profile">
	    <li class="dropdown">
	     <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
               <span class="profile-info">
	         <h4 class="text-lg text-bold text-primary">App
	            {% if user.is_authenticated %}{{ user.first_name }} {{ user.last_name }} {%else%} Anonymous {% endif %}</h4>
	       </span>
	    </a>
	  <ul class="dropdown-menu animation-dock">
	     <li class="dropdown-header">My profile</li>
	     <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
	     <li class="divider"></li>
	     <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
	   </ul><!--end .dropdown-menu -->
	</li><!--end .dropdown -->
	</ul><!--end .header-nav-profile -->
	</div><!--end #header-navbar-collapse -->
	</div>
</header>
<div id="base">
  <div class="offcanvas"></div>
   <div id="content">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert {{ message.tags }} text-center"{% endif %}>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
    </div>
    <div id="menubar" class="menubar-inverse ">
	<div class="menubar-fixed-panel"><div>
	   <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
	   <i class="fa fa-bars"></i></a>
	</div>
	<div class="expanded">
	   <a href="{% url 'home' %}"><span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span></a>
	</div>
    </div>
    <div class="menubar-scroll-panel">
	<ul id="main-menu" class="gui-controls">
	<li>
	  <a href="{% url 'home' %}" class="active">
	    <div class="gui-icon"><i class="md md-home"></i></div><span class="title">Dashboard</span>
	  </a>
	</li><!--end /menu-li -->
	<li class="gui-folder">
          <a><div class="gui-icon"><i class="fa fa-cubes"></i></div><span class="title">Product</span></a>
          <!--start submenu -->
	  <ul>
              <li><a href="" ><span class="title">All Products</span></a></li>
	      <li><a href="" ><span class="title">!!!!</span></a></li>
	  </ul><!--end /submenu -->
	</li><!--end /menu-li -->

	<!-- BEGIN PROFILE -->
	<li class="gui-folder">
	    <a><div class="gui-icon"><i class="fa fa-user"></i></div><span class="title">Profile</span></a>
            <ul>
		<li><a href="{% url 'accounts:change_password' %}" ><span class="title">Change Password</span></a></li>
		<li><a href="{% url 'accounts:logout' %}" ><span class="title">Logout</span></a></li>
	    </ul><!--end /submenu -->
		</li><!--end /menu-li -->
		<!-- END PROFILE -->

	</ul><!--end .main-menu -->
	<div class="menubar-foot-panel">
	  <small class="no-linebreak hidden-folded">
	    <span class="opacity-75">Copyright &copy; {% now "Y" %}</span> <strong>KHARISMA Solutions</strong>
	  </small>
	</div>
     </div><!--end .menubar-scroll-panel-->
   </div>
</div><!--end #base-->
<script src="{% static 'js/libs/jquery/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/libs/jquery/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/libs/bootstrap/bootstrap.min.js' %}"></script>

<script src="{% static 'js/libs/nanoscroller/jquery.nanoscroller.min.js' %}"></script>

<!-- DATATABLE -->
<script src="{% static 'js/libs/DataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js' %}"></script>
<script src="{% static 'js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>

<script src="{% static 'js/core/App.js' %}"></script>
<script src="{% static 'js/core/AppNavigation.js' %}"></script>
<script src="{% static 'js/core/AppOffcanvas.js' %}"></script>
<script src="{% static 'js/core/AppCard.js' %}"></script>
<script src="{% static 'js/core/AppForm.js' %}"></script>
<script src="{% static 'js/core/AppVendor.js' %}"></script>
<script src="{% static 'js/core/Demo.js' %}"></script>
<script src="{% static 'js/core/DemoTableDynamic.js' %}"></script>
<script src="{% static 'js/libs/select2/select2.min.js' %}"></script>
<!-- END JAVASCRIPT -->

<script>
    // =========================================================================
    // SELECT2
    // =========================================================================

    $(document).ready(function() {
      $("#product_id").select2();
    });
</script>
{% block script %}{% endblock script %}

</body>
</html>

